/* IMAGE GALLERY */

.image-gallery {
    display: flex;             /* Allinea gli elementi in fila */
    justify-content: center;   /* Centra gli elementi orizzontalmente */
    gap: 40px;                 /* Spaziatura tra le immagini */
    margin: 20px 0;            /* Margine superiore e inferiore */
}

.image-item {
    text-align: center;        /* Centra il testo e l'immagine */
}

.image-item img {
    width: 250px;                               /* Larghezza fissa */
    height: 250px;                              /* Altezza fissa */
    object-fit: cover;                          /* Taglia o ridimensiona l'immagine per adattarla */
    border-radius: 50%;                         /* Immagine circolare */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   /* Aggiunge un'ombra */
}

.image-item p {
    margin-top: 10px;          /* Spazio sopra il testo */
    font-size: 1rem;           /* Dimensione del testo */
    color: #555;               /* Colore del testo */
    font-weight: bold;         /* Testo in grassetto */
}

/* BOX GRID */

.box {
    width: 200px;
    height: 150px;
    margin: 20px;
    padding: 15px;
    border: 2px solid #2980b9;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    text-align: center;
    display: inline-block;
}

.box1 {
    background-color: #3498db;
    color: white;
}
.box2 {
    background-color: #2ecc71;
    color: white;
}
.box3 {
    background-color: #e74c3c;
    color: white;
}

/* FORM */

.form-gallery {
    display: flex;             /* Allinea gli elementi in fila */
    justify-content: center;   /* Centra gli elementi orizzontalmente */
    gap: 40px;                 /* Spaziatura tra le immagini */
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-item {
    text-align: center;        /* Centra il testo e l'immagine */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 30%;
}

form {
  display: flex;
  flex-direction: column;
}

.registration-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0 auto 40px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"], input[type="password"], input[type="email"],  select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group, .checkbox-group {
  margin-bottom: 20px;
}

.radio-group label, .checkbox-group label, textarea {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 8px;
}

.align-button {
    display: flex;
    gap: 40px;
    justify-content: center;
}

button {
  padding: 12px;
  width: 150px;
  background-color: #312d67;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #cc0000;
}

/* TABLE */

table {
    font-family: Lexend, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto 40px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

