{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <script src="/static/script/canvas.js" defer></script>
    <script src="/static/script/ecommerce.js" defer></script>

    <!-- defer serve a fare in modo che il codice js venga invocato
    solo dopo che è completamente caricata la pagina html -->

    <h1>Titolo principale</h1>
    <div class="image-gallery">
        <div class="image-item">
            <p><b>Esempio di un iframe</b></p>
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <div class="image-item">
            <p><b>Esempio di un canvas</b></p>
            <canvas id="myCanvas" width="400" height="300" style="border:1px solid #000000;"></canvas>
        </div>
    </div>

{% endblock %}