{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>Super Magnific Team</h1>
    <h3>This our awsome fucking wonderful page.</h3>

     <div class="image-gallery">
        {% for member in team_members %}
        <div class="image-item">
            <img src="{{ url_for('static', filename=member.image)}}" alt={{ member.name }}>
            <h2>{{ member.name }}</h2>
            <p> {{ member.role }} </p>
            <p> {{ member.email }} </p>
        </div>
        {% endfor %}
    </div>

    <div class="center">
        <h1>A wonderful box-grid</h1>
        <div class="box box1">Box 1</div>
        <div class="box box2">Box 2</div>
        <div class="box box3">Box 3</div>
    </div>

{% endblock %}
